@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.heropage {
  background: url(/src/assets/heropage.jpeg) no-repeat center;
  background-size: cover;
  min-height: 100vh;
}
.heropage nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #e3e3e3;
}
.heropage nav .logo a h1 {
  margin-left: 30px;
  font-size: 30px;
  padding: 15px 0;
  color: #e3e3e3;
}
.heropage nav .searchBar {
  width: 450px;
  position: relative;
}
.heropage nav .searchBar input[type=search] {
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  border: 2px solid #01B7F2;
  outline: none;
}
.heropage nav .searchBar i {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 20px;
  background-color: #01B7F2;
  padding: 9px;
  border-radius: 8px;
}
.heropage nav ul {
  margin-right: 30px;
  display: flex;
  align-items: center;
}
.heropage nav ul li {
  padding: 10px 15px;
}
.heropage nav ul li .active {
  color: #01B7F2;
}
.heropage nav ul li a {
  color: #e3e3e3;
  font-size: 15px;
  transition: all 0.3s ease;
  font-weight: 600;
}
.heropage nav ul li a:hover {
  color: #01B7F2;
}
.heropage nav ul li a i {
  font-size: 8px;
  font-weight: 100;
  transform: rotate(90deg);
  margin-left: 5px;
}
.heropage nav ul .dropdown {
  position: relative;
}
.heropage nav ul .dropdown:hover .dropdown_list {
  opacity: 1;
}
.heropage nav ul .dropdown .dropdown_list {
  position: absolute;
  left: 0;
  display: block;
  opacity: 0;
  background-color: #464343;
  top: 35px;
  border-radius: 8px;
}
.heropage nav ul .dropdown .dropdown_list li {
  padding: 10px 30px;
}
.heropage nav ul button {
  border-radius: 8px;
  border: 2px solid #01B7F2;
  background-color: transparent;
  color: #01B7F2;
  padding: 10px 15px;
  transition: all 0.3s ease;
}
.heropage nav ul button:hover {
  background-color: #01B7F2;
  color: #ededed;
}
.heropage .hero {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10rem;
}
.heropage .hero article {
  margin-left: 7rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  align-items: start;
  gap: 50px;
  color: #e3e3e3;
}
.heropage .hero article h2 {
  font-size: 46px;
  font-weight: 900;
}
.heropage .hero article p {
  font-size: 25px;
}
.heropage .hero article button {
  border-radius: 8px;
  border: 2px solid #01B7F2;
  background-color: transparent;
  color: #01B7F2;
  padding: 15px 20px;
  font-weight: 600;
  transition: all 0.3s ease;
  font-size: 18px;
}
.heropage .hero article button:hover {
  background-color: #01B7F2;
  color: #ededed;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.container .categoryNav {
  background-color: #464343;
  position: sticky;
  top: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}
.container .categoryNav ul {
  display: flex;
  align-items: center;
  padding: 0 30px;
}
.container .categoryNav ul li {
  padding: 20px 15px;
}
.container .categoryNav ul li a {
  color: #e3e3e3;
}
.container .categoryNav ul li a:hover {
  color: #01B7F2;
}
.container .categoryNav ul span {
  color: #e3e3e3;
}
.container .categoryNav .links a {
  padding: 30px;
  color: white;
  text-decoration: underline;
}
.container .categoryNav .links a:hover {
  color: #01B7F2;
}
.container .highlighted {
  height: 350px;
  width: 90%;
  position: relative;
  margin: 5rem 0;
}
.container .highlighted::after {
  content: "";
  height: 3px;
  width: 100%;
  position: absolute;
  background-color: #464343;
  top: 25px;
  left: 0;
}
.container .highlighted h3 {
  margin-bottom: 20px;
  color: #464343;
}
.container .highlighted .swiper {
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}
.container .highlighted .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 1px 1px 2px #464343;
  transition: all 0.3s ease;
  padding: 20px;
  height: 90%;
}
.container .highlighted .swiper .swiper-slide:hover {
  box-shadow: 1px 1px 5px #464343;
}
.container .highlighted .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container .highlighted .swiper .swiper-slide article {
  height: 20%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}
.container .highlighted .swiper .swiper-slide article h4 {
  color: #464343;
}
.container .highlighted a {
  color: #01B7F2;
  border-radius: 8px;
  border: 2px solid #01B7F2;
  background-color: transparent;
  color: #01B7F2;
  padding: 10px;
}
.container .highlighted a:hover {
  background-color: #01B7F2;
  color: #ededed;
}
.container .clothBanner {
  height: 250px;
  width: 90%;
  margin-top: 50px;
  position: relative;
  background: url(./../assets/banner2.jpeg);
  background-attachment: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .clothBanner::after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4862745098);
  position: absolute;
}
.container .clothBanner h3 {
  color: #e3e3e3;
  z-index: 6;
  font-size: 64px;
  text-transform: uppercase;
}
.container footer {
  background-color: #464343;
  width: 100%;
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.container footer .additional-info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  align-items: start;
  width: 100%;
  position: relative;
}
.container footer .additional-info .info h4 {
  margin-bottom: 20px;
  color: #e3e3e3;
}
.container footer .additional-info .info li {
  padding: 5px 0;
}
.container footer .additional-info .info li a {
  color: #e3e3e3;
}
.container footer .additional-info .info li a:hover {
  color: #01B7F2;
}
.container footer .additional-info .info li a span {
  margin: 0 10px;
}
.container footer .additional-info .info::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 100%;
  background-color: #e3e3e3;
  bottom: -15px;
  left: 0;
}
.container footer .copyright {
  margin-top: 25px;
  color: #e3e3e3;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container footer .copyright .imgs {
  width: 400px;
  height: 50px;
  display: flex;
  align-items: center;
  gap: 15px;
}
.container footer .copyright .imgs a {
  width: 100%;
  height: 100%;
}
.container footer .copyright .imgs a img {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1080px) {
  .heropage {
    width: 70dvw;
    overflow: hidden;
  }
  .heropage nav {
    width: 100%;
    background-color: red;
  }
  .heropage nav .logo a h1 {
    font-size: 18px;
    padding: 0;
  }
  .container {
    width: 70vw;
  }
}/*# sourceMappingURL=main.css.map */